
@model HAC.Models.ViewModelMember
           
@{
    ViewBag.Title = "MembersArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members Area</h2>
<body>
    Thanks @Model.Email
    
</body>
