
<head>
     
    <!-- Sitemap Styler -->
<link href="@Url.Content("~/Scripts/sitemapstyler/sitemapstyler.css")" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/sitemapstyler/sitemapstyler.js")"></script>
<!-- end -->
</head>

<style>
    

    a {
        text-decoration: none;
        color: #057fac;
    }

    a:hover {
        text-decoration: none;
        color: #999;
    }

  

    #container1 {
        margin: 0 auto;
        width: 680px;
        height: 680px;
        background: #fff;
    }

    #content1 {
        margin: 10px 0 10px 0;
        
    }

   
  
</style>
 <div class="box">
   
<div id="container1">
    
    <div id="content1">
         <div class="left-top-corner">
                                    <div class="right-top-corner">
                                        <div class="right-bot-corner">
                                            <div class="left-bot-corner">
                                                <div class="inner">
                                                    <div class="wrapper">
                                                    <h2>SiteMap</h2>
                                                        </div> </div> </div> </div> </div> </div>
        
        @Html.MvcSiteMap().SiteMap(true)
    </div>
</div>
     </div>