 @{
    ViewBag.Title = "About";
}
<div id="page2">
    <div id="content">

        <div class="indent">
            <div class="row-1">
                <div class="wrapper">
                    <div class="col-1">
                        <div class="ind">
                            <!-- title-box2 begin iii -->  
                            <div class="title-box2">
                                <div class="left-top-corner1">
                                    <div class="right-top-corner1">
                                        <div class="right-bot-corner">
                                            <div class="left-bot-corner">
                                                <div class="inner">
                                                    <div class="wrapper">
                                                        <a href="#" class="link4 fright">Read more</a><h3>Shortly about us</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- title-box2 end -->
                            <!-- box3 begin -->
                            <div class="box3">
                                <div class="right-bot-corner">
                                    <div class="left-bot-corner">
                                        <div class="inner2">
                                            <h5>Welcome to Huntingdonshire Athletics Club (Hunts AC)</h5>
                                            Based in St Ives, Cambridgeshire, Hunts AC embraces the England Athletics’ equal opportunities/sports equity policy and welcomes all members of the community from the ages of 9 and upwards.<br />
                                            We cater for all levels, whether you’re a budding athlete or an experienced Junior or Senior competitor, an all-rounder or a specialist, a recreational five-miler or a veteran of a dozen marathons. Our activities cover the full range of athletic events including Track & Field, Road Running, Cross Country and Indoor Sportshall. For club information, click here or Email enquires@huntsac.org.uk
                                            <img class="img-indent" alt="" src="images/2page-img1.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- box3 end -->
                        </div>
                    </div>
                    <div class="col-2">
                        <!-- title-box1 begin -->
                        <div class="title-box1">
                            <div class="left-top-corner1">
                                <div class="right-top-corner1">
                                    <div class="right-bot-corner">
                                        <div class="left-bot-corner">
                                            <div class="inner">
                                                <div class="wrapper">
                                                    <a href="#" class="link3 fright">All reviews</a><h3>Latest matches review</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- title-box1 end -->
                        <!-- box1 begin -->
                        <div class="box1">
                            <div class="right-bot-corner">
                                <div class="left-bot-corner">
                                    <div class="inner">
                                        <!-- events block begin -->
                                        <div class="box2">
                                            <div class="left-top-corner">
                                                <div class="right-top-corner">
                                                    <div class="border-top"></div>
                                                </div>
                                            </div>
                                            <div class="border-left">
                                                <div class="border-right">
                                                    <div class="inner1">
                                                        <img class="img-indent" alt="" src="images/2page-img2.jpg" />
                                                        <div class="extra-wrap">
                                                            <h5 class="alt1">Man Utd vs Liverpool (1:1)</h5>
                                                            <h6 class="alt1">16 July 2009</h6>
                                                            Cum sociis natoque penatibus et magnis dis parturient montes, cetr ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique oci ac sem. Duis ultricies pharetra magna. 
                                                    <div class="wrapper"><a href="#" class="link1"><em><b>more info</b></em></a></div>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="left-bot-corner">
                                                <div class="right-bot-corner">
                                                    <div class="border-bot"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- events block end -->
                                        <!-- events block begin -->
                                        <div class="box2">
                                            <div class="left-top-corner">
                                                <div class="right-top-corner">
                                                    <div class="border-top"></div>
                                                </div>
                                            </div>
                                            <div class="border-left">
                                                <div class="border-right">
                                                    <div class="inner1">
                                                        <img class="img-indent" alt="" src="images/2page-img3.jpg" />
                                                        <div class="extra-wrap">
                                                            <h5 class="alt1">Chelsea vs Everton (2:1)</h5>
                                                            <h6 class="alt1">16 July 2009</h6>
                                                            Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis.
                                                    Dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce giat malesuada odio. Morbi nunc odio, gravida at, cursus nec
                                                    <div class="wrapper"><a href="#" class="link1"><em><b>more info</b></em></a></div>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="left-bot-corner">
                                                <div class="right-bot-corner">
                                                    <div class="border-bot"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- events block end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- box1 end -->
                    </div>
                </div>
            </div>
            <div class="line-hor"></div>
            <div class="row-2">
                <div class="wrapper">
                    <div class="col-1">
                        <div class="ind">
                            <!-- title-box4 begin -->
                            <div class="title-box3">
                                <div class="left">
                                    <div class="right">
                                        <div class="wrapper">
                                            <a href="#" class="link5 fright">More info</a><h2>Accreditation</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- title-box4 end -->
                            <!-- box3 begin -->
                            <div class="box3">
                                <div class="right-bot-corner">
                                    <div class="left-bot-corner">
                                        <div class="inner1">
                                            <p class="p2">Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
                                            <img class="img-indent" alt="" src="images/2page-img4.jpg" />
                                            <h5>Fusce suscipit varius mi.</h5>
                                            Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuad 
                                    <div class="clear"></div>
                                            Dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuad odio.
                                    <div class="wrapper"><a href="#" class="link1"><em><b>register</b></em></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- box3 end -->
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="ind">
                            <!-- title-box4 begin -->
                            <div class="title-box4">
                                <div class="left">
                                    <div class="right">
                                        <div class="wrapper">
                                            <a href="#" class="link6 fright">More vacations</a><h2>Recruitment</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- title-box4 end -->
                            <!-- box3 begin -->
                            <div class="box3">
                                <div class="right-bot-corner">
                                    <div class="left-bot-corner">
                                        <div class="inner1">
                                            <p class="p2">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.</p>
                                            <ol class="list2">
                                                <li><a href="#">Cum sociis natoque penatibu</a></li>
                                                <li><a href="#">Set magnis dis parturient montes</a></li>
                                                <li><a href="#">Maerscetur ridiculus nulla dui</a></li>
                                                <li><a href="#">Fusce feugiat malesuada</a></li>
                                                <li><a href="#">Morbi nunc odio, gravida at</a></li>
                                                <li class="last"><a href="#">Maecenas tristique orci ac sem.</a></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- box3 end -->
                        </div>
                    </div>
                    <div class="col-3">
                        <!-- title-box3 begin -->
                        <div class="title-box3">
                            <div class="left">
                                <div class="right">
                                    <div class="wrapper">
                                        <a href="#" class="link6 fright">More info</a><h2>Training ground</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- title-box4 end -->
                        <!-- box3 begin -->
                        <div class="box3">
                            <div class="right-bot-corner">
                                <div class="left-bot-corner">
                                    <div class="inner2">
                                        <div class="img-box">
                                            <img alt="" src="images/2page-img5.jpg" />
                                            <h5 class="alt1">Cum sociis natoque</h5>
                                            Montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tique orci ac sem. Duis ultricies 
                                        </div>
                                        <div class="img-box">
                                            <img class="img-indent" alt="" src="images/2page-img6.jpg" />
                                            <h5 class="alt1">Quisque nulla</h5>
                                            Fusce feugiat Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tique orci ac sem. Duis ultricies pharetra magna. Donec accumsan
                                        </div>
                                        <div class="wrapper"><a href="#" class="link1"><em><b>more training programs</b></em></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- box3 end -->
                    </div>
                </div>
            </div>
            <div class="line-hor"></div>
            <div class="row-3">
                <div class="wrapper">
                    <div class="col-1">
                        <div class="ind">
                            <!-- title-box4 begin -->
                            <div class="title-box4">
                                <div class="left">
                                    <div class="right">
                                        <div class="wrapper">
                                            <a href="#" class="link6 fright">All games</a><h2>Games</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- title-box4 end -->
                            <!-- box3 begin -->
                            <div class="box3">
                                <div class="right-bot-corner">
                                    <div class="left-bot-corner">
                                        <div class="inner1">
                                            <ul class="list3">
                                                <li><a href="#">Predictor (UCL)</a></li>
                                                <li><a href="#">Fantasy Football (UCL)</a></li>
                                                <li><a href="#">Fantasy Football (UEFA Cup)</a></li>
                                                <li><a href="#">World Championship</a></li>
                                                <li><a href="#">Football Manager 2009</a></li>
                                                <li class="last"><a href="#">Soccer Club Manager</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- box3 end -->
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="ind">
                            <!-- title-box3 begin -->
                            <div class="title-box3">
                                <div class="left">
                                    <div class="right">
                                        <div class="wrapper">
                                            <a href="#" class="link5 fright">More categories</a><h2>Our community</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- title-box3 end -->
                            <!-- box3 begin -->
                            <div class="box3">
                                <div class="right-bot-corner">
                                    <div class="left-bot-corner">
                                        <div class="inner1">
                                            <ul class="list3">
                                                <li><a href="#">Newsletter and subscriptions</a></li>
                                                <li><a href="#">Polls and Testimonials</a></li>
                                                <li><a href="#">Forums and Communications</a></li>
                                                <li><a href="#">Team of the Year</a></li>
                                                <li><a href="#">Our Partners</a></li>
                                                <li class="last"><a href="#">Fans Blogs</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- box3 end -->
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="ind">
                            <!-- title-box3 begin -->
                            <div class="title-box3">
                                <div class="left">
                                    <div class="right">
                                        <div class="wrapper">
                                            <a href="#" class="link5 fright">More downloads</a><h2>Free download</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- title-box3 end -->
                            <!-- box3 begin -->
                            <div class="box3">
                                <div class="right-bot-corner">
                                    <div class="left-bot-corner">
                                        <div class="inner1">
                                            <ul class="list3">
                                                <li><a href="#">Screensavers</a></li>
                                                <li><a href="#">Wallpapers</a></li>
                                                <li><a href="#">European Football Podcast</a></li>
                                                <li><a href="#">Demo Video</a></li>
                                                <li><a href="#">Best interviews</a></li>
                                                <li class="last"><a href="#">Match snapshots</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- box3 end -->
                        </div>
                    </div>
                    <div class="col-4">
                        <!-- title-box4 begin -->
                        <div class="title-box4">
                            <div class="left">
                                <div class="right">
                                    <div class="wrapper">
                                        <a href="#" class="link6 fright">Join us!</a><h2>Fanzone</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- title-box4 end -->
                        <!-- box3 begin -->
                        <div class="box3">
                            <div class="right-bot-corner">
                                <div class="left-bot-corner">
                                    <div class="inner1">
                                        <ul class="list3">
                                            <li><a href="#">Photos and meetings</a></li>
                                            <li><a href="#">Talk Football</a></li>
                                            <li><a href="#">Fans' Man of the Match</a></li>
                                            <li><a href="#">Champions Quiz</a></li>
                                            <li><a href="#">Team of the Year</a></li>
                                            <li class="last"><a href="#">Fan Magazine</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- box3 end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
