@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>UnderConstruction</title>
</head>
<body>
    <div>
         <img alt="Under Construction" src="@Url.Content("~/Content/images/UnderConstruction1.png")" />
    </div>
</body>
</html>
