@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Linq
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

<ul class="nav">
    @foreach (var node in Model.Nodes)
    {
        if (node.IsCurrentNode || node.Children.FirstOrDefault(x => x.IsCurrentNode) != null)
        {
         <li id="navActive">@Html.DisplayFor(m => node)</li>
        }
        else
        {
        <li>@Html.DisplayFor(m => node)</li>
        }


    }
</ul>

<ul class="sub-nav">
    @foreach (var node in Model.Nodes)
    {
        if (node.IsCurrentNode || node.Children.FirstOrDefault(x => x.IsCurrentNode) != null)
        {
            foreach (var child in node.Children)
            {
                if (child.IsCurrentNode || child.Children.FirstOrDefault(x => x.IsCurrentNode) != null)
                {
                    <li id="sub-navActive">@child.Title</li>
                }
                else 
                {
                    
                      <li>@Html.DisplayFor(m => child)</li>
                }
              

            }
        }
    }
</ul>


