<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RepositoryPhysicalPath>D:\hosting\10245317\html\HAC2\HAC2\Pictures</RepositoryPhysicalPath>
  <UseHardCacheInDisk>false</UseHardCacheInDisk>
  <CacheFolderPhysicalPath>D:\hosting\10245317\html\HAC2\HAC2\Pictures\DevCache</CacheFolderPhysicalPath>
  <ValidImageExtensions>
    <string>.gif</string>
    <string>.jpg</string>
    <string>.bmp</string>
    <string>.pnb</string>
    <string>.tiff</string>
  </ValidImageExtensions>
  <IgnoreFolders>
    <string>2003</string>
    <string>climb</string>
    <string>.git</string>
  </IgnoreFolders>
  <AdminEmails>
    <string>ian.marshall@btinternet.com</string>
    <string>other...@gmail.com</string>
    <string>other...@gmail.com</string>
  </AdminEmails>
  <ImagesSortCriteria>NameASC</ImagesSortCriteria>
  <FoldersSortCriteria>NameASC</FoldersSortCriteria>
  <Notifications>
    <EmailFrom>ajax@aspphotogallery.net</EmailFrom>
    <PostmarkKey>-</PostmarkKey>
  </Notifications>
  <AnalyticsCode>UA-300651-36</AnalyticsCode>
  <HidePrivateFolders>false</HidePrivateFolders>
  <ReadBackWardsCompatibilityTxtFiles>false</ReadBackWardsCompatibilityTxtFiles>
</Configuration>